<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <!--<script type="text/javascript">
    function set_keyword(query, evidence)
    {
        form = document.forms['search'];
        form.elements['query'].value = query;
        form.elements['evidence'].value = evidence;
        //form.elements['evidences'].value = evidences;
    }
    </script>
    -->
    <script> 
    $(document).ready(function(){
        //toggle for evidence type
        $("#filter").click(function(){
            $("#panel").slideToggle("slow");
        });
        //check all button function
        $("#checkall").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        //auto suggestion in search box
        
    });
</script>

    <h1>Search</h1>
    <form action="" method="post" name="search">
        {{ form.hidden_tag() }}
        <p>
            Please enter your drug name below:<br>
            {{ form.query(size=80) }}
            {% for error in form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <!--|{% for pr in providers %}-->
            <!--    <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
            {% endfor %}-->
        </p>
        <!--<p> 
            Please select your evidence type below:<br>
            {{ form.evidence(size=80) }}
            {% for error in form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>-->
        <!-- Filter options -->
        <div id='filter'><h4>Evidence Type<h4></div>
        <div id='panel'>
            {{ form.checkall }}all<br>
            {{ form.evidence1 }}evidence1<br>
            {{ form.evidence2 }}evidence2<br>
            {{ form.evidence3 }}evidence3<br>
            threshold: {{ form.threshold }}<br>
        </div>
        <p><input type="submit" value="Search"></p>
    </form>
{% endblock %}
