<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <script> 
    $(document).ready(function(){
        //auto suggestion in search box
        $(":text").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('autocomplete')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
            select: function(event, ui) {
                console.log(ui.item.value); // not in your question, but might help later
            }
        });
    });
	</script>


  <div class="container">
    <title>Update database</title>
    <h1>Update database</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file><br>
    
    	<table>
          <td>
          <label>File type: </label>
      	    <select name="option" width="300px">
            {% for x in type_list %}
			<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
			{% endfor %}</select>
          </td>
        </table><br>
      <button class="btn btn-default" type=submit value="file" name="button">
      	<span class="glyphicon glyphicon-upload"></span> Upload
      </button>
    </form>
  </div>

  <div class='container'>
  	<h1>Add a new drug / Update single drug's similarity</h1>
  	<form action="" method=post enctype=multipart/form-data>
      	<p> Please ensure the new drug name is unique in the existing database <p>
      	<p>Drug ID Name: <input type=text class='form-control' name=drugid></p>
      	<p>New Drug File: <input type=file name=filenew></p>

    	<table>
          <td>
          <label>Evidence type: </label>
      	    <select name="option-new" width="300px">
            {% for x in evidence_list %}
			<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
			{% endfor %}</select>
          </td>
        </table><br>

      <button class="btn btn-default" type=submit value="new_drug" name="button">
      	<span class="glyphicon glyphicon-upload"></span> Add
      </button>
    </form>

  </div>

   <div class='container'>
  	<h1>Edit a drug record</h1>
  	<form action="" method=post enctype=multipart/form-data>
      	
      	<p>Drug A ID name: <input type=text class='form-control' name=druga></p>
      	<p>Drug B ID name: <input type=text class='form-control' name=drugb></p>

    	<table>
          <td>
          <label>Evidence type: </label>
      	    <select name="option-edit" width="300px">
            {% for x in evidence_list %}
			<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
			{% endfor %}</select>
          </td>
        </table><br>

        <p>Score (between 0 and 1): <input type=number class='form-control' name=score min=0 max=1 step=0.01></p>
      <button class="btn btn-default" type=submit value="update_drug" name="button">
      	<span class="glyphicon glyphicon-upload"></span> Update
      </button>
    </form>

  </div>



{% endblock %}
