<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <title>Upload new File</title>
    <h1>Upload New Files</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file><br>
    
    	<table>
          <td>
          <label>File type: </label>
      	    <select name="option" width="300px">
            {% for x in evidence_list %}
			<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
			{% endfor %}</select>
          </td>
        </table><br>
      <button class="btn btn-default" type=submit>
      	<span class="glyphicon glyphicon-upload"></span> Upload
      </button>
    </form>
  </div>
{% endblock %}
