<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <!--<script type="text/javascript">
    function set_keyword(query, evidence)
    {
        form = document.forms['search'];
        form.elements['query'].value = query;
        form.elements['evidence'].value = evidence;
        //form.elements['evidences'].value = evidences;
    }
    </script>-->
    <script> 
    $(document).ready(function(){
        //toggle for evidence type
        $("#filter").click(function(){
            $("#panel").slideToggle("slow");
        });
        //check all button function
        $("#checkall").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        //auto suggestion in search box
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#query').autocomplete({
                    source: data.json_list,
                    minLength: 2
                });
            });
    });
</script>

    <h1>Search</h1>
    <form action="" method="post" name="search">
        {{ form.hidden_tag() }}
        <p>
            Please enter your drug name below:<br>
            {{ form.query(size=80) }}
            {% for error in form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <!--|{% for pr in providers %}-->
            <!--    <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
            {% endfor %}-->
        </p>
        <!--<p> 
            Please select your evidence type below:<br>
            {{ form.evidence(size=80) }}
            {% for error in form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>-->
        <!-- Filter options -->
        <div id='filter'><h4>Evidence Type<h4></div>
        <div id='panel'>
            {{ form.checkall }}all<br>
            {{ form.evia }}evia<br>
            {{ form.evib }}evib<br>
            threshold: {{ form.threshold }}<br>
        </div>
        <p><input type="submit" value="Search"></p>
    </form>
    <head>
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script type="text/javascript">
    $(function() {
        $("#autocomplete").autocomplete({
            source:function(request, response) {
                $.getJSON("{{url_for('autocomplete')}}",{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
            select: function(event, ui) {
                console.log(ui.item.value); // not in your question, but might help later
            }
        });
    })


    </script>
    </head>
    <body>
        <div>
            <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg"/>
        </div>
    </body>
{% endblock %}
